# Object files
*.o

# pkg-config
*.pc

# Executables
src/fty-shm_selftest
src/fty-shm-cleanup
src/fty_shm_selftest

 # Distcheck workspace and archives
fty-shm-*/
fty-shm-*.tar.gz
fty-shm-*.zip

# Man pages
doc/*.1
doc/*.3
doc/*.7

# autoconf files
.deps
.libs
*.log
*.trs
Makefile
Makefile.in
!builds/openwrt/Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
configure.lineno
libtool
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
src/test-suite.log
src/.dirstamp

# Ignore CMake
builds/cmake
CMake*

# Repositories downloaded by CI integration scripts
libzmq/
czmq/

# Travis build area
tmp/

# Temporary files
*.swp
*.bak
.test*

# editor backups
*~
