#
#    fty-shm - Lockless metric sharing library for 42ity
#
#    Copyright (C) 2018 - 2020 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-shm
Section:        net
Priority:       optional
Maintainer:     fty-shm Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    cmake (>=3.0),
    fty-cmake-dev,
    pkg-config,
    libczmq-dev (>= 3.0.2),
    libfty-proto-dev,
    libcxxtools-dev, libfty-common-dev, libfty-common-logging-dev,
#    libmosquitto-dev,
#    libfty-common-messagebus-evol-dev,
    libfty-common-messagebus2-dev,
    dh-autoreconf

Package: libfty-shm0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fty-shm shared library
 This package contains shared library for fty-shm:
 lockless metric sharing library for 42ity

Package: libfty-shm-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libfty-proto-dev,
#    libmosquitto-dev,
#    libfty-common-messagebus-evol-dev,
    libfty-common-messagebus2-dev,
    libfty-shm0 (= ${binary:Version})
Description: fty-shm development tools
 This package contains development files for fty-shm:
 lockless metric sharing library for 42ity

Package: fty-shm
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from fty-shm
 Main package for fty-shm:
 lockless metric sharing library for 42ity
